[Unit]
Description=LXD backup server
After=network.target
BindsTo=lxd.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/lxd-backup-server
ExecStart=/opt/obmondo/bin/lxd-backup-server
User=root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
