Source: obmondo-lxd-backup-server
Priority: optional
Maintainer: Rune Juhl Jacobsen <runejuhl@enableit.dk>
Section: misc
Homepage: https://obmondo.com
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5), golang-1.8-go (>= 1.8), devscripts (>= 2.16)
Standards-Version: 3.9.8

Package: obmondo-lxd-backup-server
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, lxd (>= 2.0)
Description: Backup server for safe backups of LXCs
